<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="JobConfiguration/css/jobExtension" />
<script type="text/javascript" src="JobConfiguration/js/vue"></script>
<script type="text/javascript" src="JobConfiguration/js/axio"></script>
<script defer type="text/javascript" src="JobConfiguration/js/page"></script>



<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            default header
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            default body
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <button class="modal-default-button btn btn-danger pull-left" @click="$emit('close')">
                            close
                        </button>
                        <slot name="footer">
                            <!-- @click="$emit('close')"-->
                            <button class="modal-default-button btn btn-success" @click="$emit('close')">
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>


<div id="app">

    <modal v-if="showModal" @close="showModal = false">
        <!--
          you can use custom content here to overwrite
          default content
        -->
        <form slot="body">
            <div class="form-group">
                <label for="jobId">Job Id</label>
                <input type="text" class="form-control" v-model="job.Id" id="jobId" aria-describedby="emailHelp" placeholder="Enter Job Id">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group">
                <label for="cron">Cron</label>
                <input type="text" class="form-control" id="cron" v-model="job.Cron" placeholder="Enter Cron (Unix time)">
            </div>

            <div class="form-group">
                <label for="class">Class</label>
                <input type="text" class="form-control" v-model="job.Class" aria-describedby="class" id="class" placeholder="Enter Class Name">
                <small id="class" class="form-text text-muted">Please provider path complete about your class example: Hangfire.RecurringJob.MyClass</small>
            </div>

            <div class="form-group">
                <label for="method">Method</label>
                <input type="text" class="form-control" v-model="job.Method" id="method" placeholder="Enter Method Name">
            </div>

            <div class="form-group">
                <label for="queue">Queue</label>
                <input type="text" class="form-control" v-model="job.Queue" id="queue" placeholder="Enter Queue Name">
            </div>


        </form>

        <div slot="footer">
            <button class="btn btn-success" @click="addJob">
                OK
            </button>
        </div>

        <h3 slot="header">Add New Job</h3>
    </modal>
    <div class="row">

        <div class="col-md-12" style="margin-top: 30px">
            <h1 class="page-header">Recurring Jobs <span class="badge badge-warning">{{jobs.length}}</span></h1>
            <button type="button" class="btn btn-primary" style="margin-bottom: 20px;" @click="showModal = true">Add new Job</button>
            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cron</th>
                            <th>Queue</th>
                            <th>Method</th>
                            <th>Last Execution</th>
                            <th>Next Execution</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="job in jobs">
                            <td>{{job.Id}}</td>
                            <td>{{job.Cron}}</td>
                            <td>{{job.Queue}}</td>
                            <td></td>
                            <td>{{job.LastExecution}}</td>
                            <td>{{job.NextExecution}}</td>
                            <td> <button type="button" class="btn btn-warning" onclick="onPost()">Edit</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>




        </div>
    </div>
</div>

<script>
    Vue.component('modal', {
        template: '#modal-template'
    });

    var appJob = new Vue({
        el: '#app',
        data() {
            return {
                jobs: null,
                showModal: false,
                job: {
                    Id: '',
                    Cron: '',
                    Queue: '',
                    Class: '',
                    Method: '',
                }
            }
        },
        methods: {
            addJob() {

                this.UpdateJob(this.job);
            },
            GetJobs() {
                axios.get('JobConfiguration/GetJobs')
                     .then(res => (this.jobs = res.data))
            },
            UpdateJob(job) {

                axios.get('JobConfiguration/UpdateJobs', job).then(response => {
                    console.log(response);
                }).catch(e => {
                    console.log(e);
                });
            }

        },
        created() {

            this.GetJobs();
        }
    });
</script>