@page
@model IndexModel
@{
    ViewData["Title"] = "Sample Project";
}

<div class="text-left">
    <h1 class="mb-4">Welcome to Sample Project</h1>
    <div>
        <p><strong>Hangfire.RecurringJobAdmin</strong> is a simple dashboard to manage Hangfire's recurring jobs.</p>
        <p class="text-justify">
            The repository of this project is an extension for <a target="_blank" href="https://github.com/HangfireIO/Hangfire/">Hangfire</a> based on <a target="_blank" href="https://github.com/icsharp/Hangfire.RecurringJobExtensions/">"Hangfire.Recurring Job Extensions"</a>.
        </p>
    </div>
    <div>
        <h5 class="mt-4 mb-3"> Hangfire.RecurringJobAdmin </h5>
        <ul>
            <li>Github Code: <a target="_blank" href="https://github.com/bamotav/Hangfire.RecurringJobAdmin/">Here</a></li>
            <li>
                Nuget Package: <a target="_blank" href="https://www.nuget.org/packages/hangfire.recurringjobadmin/">Here</a>
            </li>
        </ul>
    </div>
</div>
